<footer id="footer" class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Verizon Fios</h5>

      </div>
      <div class="col l6 s12 right">
        <i>Made by <a href="mailto:robert.melendez@drascosales.com" class="brown-text text-lighten-3">Robert Melendez</a></i>
        <p>&copy; Copyright Reserved <span id="year">{{year }}</span>

        </p>
      </div>

    </div>
  </div>
  <!-- <div class="footer-copyright">
    <div class="container right">
     
    </div>
  </div> -->
</footer>
