<nav id="nav" class="black nav-extended" role="navigation">
  <div class="nav-wrapper container">

    <a *ngIf="!loggedIn" id="logo-container" href="/" class="brand-logo white-text">Fios</a>
    <a *ngIf="loggedIn" id="logo-container" routerLink="/" class="brand-logo white-text capitalized">{{ user?.name }}</a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="loggedIn"><a routerLinkActive="actived_page current" routerLink="/today">Home</a></li>
      <li *ngIf="loggedIn && user?.roles.isAdmin"><a routerLinkActive="actived_page current" routerLink="/user/all">Manage
          Users</a></li>
      <li *ngIf="loggedIn"><a routerLinkActive="actived_page current" routerLink="/referrals">All Referrals</a></li>

      <!-- <li><a routerLinkActive="actived_page current" routerLink="/myreferrals">My
          Referrals</a></li> -->
      <li *ngIf="loggedIn"><a routerLinkActive="actived_page current" routerLink="/add-referral">Add Referral</a></li>
      <li *ngIf="loggedIn"><a routerLinkActive="actived_page current" routerLink="/referee/all-referees">View
          Referees</a></li>
      <!-- <li><a routerLinkActive="actived_page current" routerLink="/reports">My
          Reports</a></li> -->
      <li *ngIf="!loggedIn" class=""><a routerLink="/user/login">Login</a></li>
      <li *ngIf="loggedIn" class=""><a (click)="logout()">Logout</a></li>
      <li *ngIf="!loggedIn" class=""><a routerLink="/user/register">Register</a> </li>
    </ul>

    <ul id="nav-mobile" class="sidenav red lighten-4">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/referrals">My Referrals</a></li>
      <li><a href="/reports">My Reports</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>

</nav>
