@import url('https://fonts.googleapis.com/css?family=Sarabun');

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  ;
  width: 100%;

}

body {
  height: 100vh;
}

.day {
  position: absolute;
  top: 20%;
  left: 50%;
  margin: 0 auto;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}

.box {
  position: relative;
}

.card-title {
  font-weight: bolder;
  font-family: 'Sarabun', sans-serif;
}


.card-content {
  height: 6rem;

}

.card-content .material-icons {
  color: green;
  font-size: 1.2rem;
}

.card-content i {
  padding: 0.5rem;
  color: rgb(138, 136, 136);
  font-size: 0.8rem;
}

.card-action a {
  width: 100%;
}

.card-content p {
  font-size: 1.3rem;
}

.card-content span {
  font-weight: bolder;
  font-size: 3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

img {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  text-align: center;
}

/* 
.grid>div {
  width: 100%;
  height: 300px;
  position: relative;
}

.box3 a {

  left: 50%;
  margin: 0 auto;
  position: absolute;

} */

.total_order_today {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  left: 50%;
  margin: 1rem auto;
}

@media(max-width: 768px) {
  .grid {

    grid-template-columns: 1fr;


  }

  .card-content {
    text-align: center;
    min-height: 8rem;

  }

}
