<!-- <div class="z-depth-1 container">
  <mat-spinner *ngIf="loading" mode="indeterminate" color="primary"></mat-spinner>
  <h2 class="z-depth-3 center">
    {{ todayDate | date: 'fullDate'}}
  </h2>
  <div class="grid">
    <div class="z-depth-2 box1">
      <h4 class="center">Orders Placed Today</h4>
      <p class="total_order_today">{{ todayUnits ? todayUnits: 0 }}</p>
    </div>
    <div class="z-depth-2 box2" (click)="goToNotes()">
      <h4 class="center">Today's Notes</h4>
    </div>
    <div #box3 class="z-depth-2 box3">
      <h4 class="center">My Nightly Report</h4>
      <a class="btn black center" routerLink="/nightly-report">View Report</a>
    </div>
    <div class="z-depth-2 box4">4</div>
    <div class="z-depth-2 box5">5</div>
    <div class="z-depth-2 box6">6</div>
  </div>
  <div style="margin-bottom: 150px;"></div>

</div>
<div class="currentInfo">


</div> -->

<div class="container">
  <div class="grid">

    <div class="box box1">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images//calendar.png">
          <span class="card-title black-text">Today's Total Units</span>
        </div>
        <div class="card-content">
          <p>So far I have <span [ngClass]="{'red-text': todayUnits == 0, 'yellow-text': todayUnits == 2, 'green-text': todayUNits >= 3}">{{
              todayUnits }}</span> units</p>
        </div>
        <div class="card-action ">
          <a class="btn black" routerLink="/today/details">View Today's Details</a>
        </div>
      </div>
    </div>
    <div class="box box2">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images/notes.jpg">
          <span class="card-title black-text">Todays's Notes</span>
        </div>
        <div class="card-content">
          <p>Here is a list of my notes</p>
        </div>
        <div class="card-action">
          <a class="btn black" routerLink="/notes">View Notes</a>
        </div>
      </div>
    </div>
    <div class="box box3">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../../assets/images/report.png">
          <span class="card-title black-text">Today's Report</span>
        </div>
        <div class="card-content">
          <p>Here I can view today's orders and notes</p>
        </div>
        <div class="card-action">
          <a class="btn black" routerLink="/nightly-report">View Today's Report</a>
        </div>
      </div>
    </div>
    <div class="box box4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../../assets/images//calendar.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="box box5">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../../assets/images//calendar.png">
          <span class="card-title ">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="box box6">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../../assets/images//calendar.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

  </div>
</div>
