<div *ngIf="manager" class="animated fadeIn container">
    <h3 class="z-depth-2 center">Edit Manager</h3>
    <div>
      <div class="card grey lighten-5 animated fadeInDown">
        <form id="myForm" #myForm="ngForm" (ngSubmit)="editManager(myForm)">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" id="name" [(ngModel)]="manager.name" required name="name" class="validate">
              <label class="active" for="name">Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" id="last_name" [(ngModel)]="manager.last_name" required name="last_name" class="validate">
              <label class="active" for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6 l6 input-field">
              <input type="tel" (keyup)="formatPhone(ref_phone)" [(ngModel)]="manager.phone" #ref_phone="ngModel"
                minlength="12" maxlength="12" name="phone" id="phone">
              <label class="active" for="phone">Phone</label>
            </div>
            <div class="col s6 l6 input-field">
              <input type="email" name="email" required [(ngModel)]="manager.email" id="email">
              <label class="active" for="email">Email</label>
            </div>
            <div>
              <button id="btn_add-manager" [disabled]="!myForm.valid" class="btn black waves-effect waves-light" type="submit">Update
                Manager</button>
            </div>
            <br>
          </div>
        </form>
      </div>
    </div>
  
  
    <div *ngIf="!manager" class="d-depth-2">
      No Manager
    </div>
  </div>
  