.list-notes {
  margin: 10px;
  padding: 10px;
}

.list-notes p {
  font-size: 1.5rem;

}

.list-notes .posted {
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
}

.delete:hover {
  cursor: pointer;
}

textarea::placeholder {
  padding-left: 1rem;
}

.btn-note:hover {
  cursor: pointer;
}

.dates {
  position: relative;
}

.dates input[type="date"] {
  margin-right: 1rem;
  background-color: rgb(139, 138, 137);
  border-radius: 30px;
  text-align: center;
  font-weight: 500;
  max-width: 100%;
  
}

.date input::placeholder {
  text-align: center;
  
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: rgb(24, 22, 22);
  padding-left: 0.7rem;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.dates input[type="button"] {

  position: relative;
  width: 100%;
  height: 85%;
  border-radius: 30px;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media(max-width:768px) {
  .dates {
    grid-template-columns: 1fr;
  }
}