<div class="note container">
    <div class="dates">
      <div>
          <input type="date" [(ngModel)]="dates.start" placeholder="From" name="start" id="start">
      </div>
      <div>
          <input (change)="show = true" type="date" [(ngModel)]="dates.end" placeholder="To" name="end" id="end"><span></span>
      </div>
      <div>
          <input class="btn-note" [disabled]="!show" (click)="getNotesByDate()" class="btn black" type="button" value="Get Notes">
      </div>
  </div>
  <div class="card">
  
    <div class="card-body">
      <br />
      <h1 class="card-title center mt-5">Adding a new note</h1>
      <br />
      <div class="form_div">
        <form #note_form="ngForm" (ngSubmit)="addNote(note_form)">
          <div class="mat-form">
            <mat-form-field>
              <textarea matInput name="note" required ngModel placeholder="Type your notes" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div>
            <button style="width: 20rem; margin-bottom: 2rem;" class="btn black ml-5" type="submit">
              Add Note
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="notes.length > 0; else noNotes" class="notes">
    <h4 class="center">{{ allNotes }}</h4>
    <br />
    <div @fade *ngFor="let n of notes" class="list-notes card">
      <p class="p_list gray">{{ n.note }}</p>
      <span class="right">
        <!-- Modal Trigger -->
        <button data-target="modal1" (click)="openModal(n._id)" class="btn modal-trigger orange">
          <i class="material-icons">edit</i>
        </button></span>

      <blockquote class="posted">
        posted: {{ n.created | date: "medium" }}
      </blockquote>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h5 class="center">Are you sure you want to delete this note?</h5>
        </div>
        <div class="modal-footer">
          <button style="margin-right: 8px;" (click)="onDelete()" class="btn red">
            Delete
          </button>
          <button type="button" class="btn gray modal-close">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noNotes> 
    <h3 class="center">
      No Notes
    </h3>
  </ng-template>
</div>
