<div>
  <h3 class="center z-depth-3">Register/Sign up</h3>

  <div>

    <mat-card>
      <div *ngIf="error" class="">
        <h4 class="center red-text">{{ error.message }}</h4>
      </div>
      <form #newUser="ngForm" (ngSubmit)="registerUser(newUser)">
        <div class="row">
          <div class="input-field col s6 l6">
            <input id="name" name="name" type="text" required #user_name="ngModel" [(ngModel)]="user.name" class="validate">
            <label for="name">Name</label>
            <p class="red-text" *ngIf="user_name.errors?.required && user_name.touched">Name is required</p>
          </div>

          <div class="input-field col s6 l6">
            <input id="last_name" name="last_name" required #last_name="ngModel" [(ngModel)]="user.last_name" type="text"
              class="validate">
            <label for="last_name">Last Name</label>
            <p class="red-text" *ngIf="last_name.errors?.required && last_name.touched">Last Name is required</p>
            <p class="red-text" *ngIf="errors.name">Last Name is required</p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 l6">
            <input id="phone" name="phone" (keyup)="formatPhone(phone)" #phone="ngModel" [(ngModel)]="user.phone"
              required type="tel" maxlength="12" minlength="12" class="validate">
            <label for="phone">Phone</label>
          </div>

          <div class="input-field col s6 l6">
            <input id="email" name="email" type="email" #email="ngModel" [(ngModel)]="user.email" email class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 l6">
            <input id="password" type="password" minlength="6" name="password" autocomplete="off" #user_psw="ngModel"
              [(ngModel)]="user.password" required class="validate">
            <label for="password">Password</label>
          </div>

          <div class="input-field col s6 l6">
            <input id="confirm_password" [disabled]="user.password.length < 6" name="confirm_password" (keyup)="checkPassword(user_psw1)"
              #user_psw1="ngModel" [(ngModel)]="user.password1" minlength="6" type="password" required class="validate">
            <label for="confirm_password">Confirm password</label>
            <div *ngIf="errors?.password1" class="alert alert-invalid">
              Password does not match.
            </div>
          </div>

        </div>
        <br>
        <button [disabled]="!newUser.valid" class="btn black btn-lg" type="submit">Register</button>
      </form>
      <br>

      <div *ngIf="error" style="height: 5rem;" class="orange center">
        <h4 class="center">{{ error }}</h4>
      </div>
    </mat-card>
    <div style="margin-bottom: 150px;"></div>

  </div>
</div>
