<!-- <div *ngIf="referrals" class="nav-content center-align">
  <ul class="tabs">
    <li class="tab"><a [class.active]="status === ''" routerLink="/referrals" [queryParams]="{status: ''}">All</a></li>
    <li class="tab"><a [class.active]="status === new" routerLink="/referrals" [queryParams]="{status: 'new'}">New</a></li>
    <li class="tab "><a [class.active]="status === 'closed'" routerLink="/referrals" [queryParams]="{status: 'closed'}">Closed</a></li>
    <li class="tab "><a [class.active]="status === 'pending'" routerLink="/referrals" [queryParams]="{status: 'pending'}">Pending</a></li>
    <li class="tab"><a [class.active]="status === 'in progress'" routerLink="/referrals" [queryParams]="{status: 'in progress'}">In
        Progress</a></li>
    <li class="tab"><a [class.active]="status === 'not sold'" routerLink="/referrals" [queryParams]="{status: 'not sold'}">Not
        Sold</a></li>

  </ul>
</div> -->
<div class="container">
  <h4 style="margin: 10px; padding:10px;" class="center lighten-3">
    All Referrals
  </h4>
  <a class="btn waves-effect black waves-light mb-5" routerLink="/add-referral">Add Referral</a>
  <br />

  <div class="input-field col s12 animated fadeInLeft">
    <input class="place" (keyup)="applyFilter($event.target.value)" placeholder="Search by name, phone, order #, status, apt #, etc." />
  </div>

  <div class="mat-elevation-z8 animated zoomIn">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Full Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name }} {{ element.last_name }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Address
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.address }}
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="apt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Apt
        </mat-header-cell>
        <mat-cell class="upper" *matCellDef="let element">
          {{ element.apt }}
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.phone }} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="move">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Move In
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.moveIn | date: "shortDate" }}
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
      </ng-container>
      <!-- action column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a class="btn black" routerLink="/detail/{{ row._id }}">Details</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          <h3 class="center">No Data to show.</h3>
        </mat-footer-cell>
      </ng-container>

      <mat-header-row class="grey" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="capitalized" *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ hide: dataSource != null }"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{
          hide: !(dataSource != null && dataSource.data.length == 0)
        }"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 35, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    <div style="margin-bottom: 100px;"></div>
  </div>
</div>
