table {
  width: 100%;
  margin: 10px, auto;
}

.grey {
  font-size: 1.5rem;
}

.mat-sort-header-container button {
  font-size: 25px !important;
}

.hide {
  display: none;
}

.bold {
  font-weight: bolder;

}

mat-cell {
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.place::placeholder {
  font-size: 22px;
  margin-left: 10px;
}

@media(max-width:978px) {
  table {
    width: 100vw;
  }

  .container {
    width: 100vw !important;
  margin: .5rem;
  }
}

.nav-content li a:hover {
  cursor: pointer;
}